* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}
.container {
	width: 100%;
	height: 100vh;
	background: linear-gradient(#fff, #f9ffd6);
	position: relative;
	padding-left: 8%;
	padding-right: 8%;
	box-sizing: border-box;
}

nav {
	display: flex;
	align-items: center;
	height: 80px;
	position: relative;
}

nav img {
	width: 30px;
	cursor: pointer;
}

nav ul {
	position: absolute;
	top: 40px;
	right: 0;
}

nav ul li {
	list-style: none;
	color: #999898;
	font-size: 12px;
	margin-bottom: 15px;
	cursor: pointer;
	font-family: bold;
}

nav ul ::after {
	content: '';
	width: 1px;
	height: 160px;
	background: #d0d0d0;
	position: absolute;
	top: 20px;
	left: -10px;
}

.content {
	max-width: 600px;
	margin-top: 100px;
}

.content h1 {
	font-size: 60px;
	animation: fadeIn 6s;
}

.content p {
	max-width: 450px;
	font-size: 15px;
	color: #a1a1a1;
	font-weight: 300;
	line-height: 22px;
	margin: 40px 0;
}

.content button {
	width: 160px;
	padding: 10px 0;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	background: #ffff70;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	cursor: pointer;
}

.car-image {
	width: 55;
	position: absolute;
	right: 70px;
	bottom: 60px;
	animation: run 2s linear 1;
}

@keyframes run {
	0% {
		transform: translate(-100px, -100px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 15;
	}
}
